body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    background: linear-gradient(to right, #F85B5B, #A56969);
    padding: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
}


.header-p {
    margin-top: 5px;
    font-family: Cambria;
    font-size: 30px;
    color: white;
}

.center-header {
    margin-left: -35px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


/*--------------HEADER ENDS HERE--------------*/



main {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    font-family: 'Kadwa', serif;
}

    main p {
        margin: auto;
        margin-bottom: 20px;
        font-family: 'Kadwa', serif;
        font-size: 40px;
        font-weight: bold;
    }


.content-section {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.image-container {
    margin-right: 10px;
}

#profile-picture {
    width: 30px;
    height: 30px;
    background-image: url('../IMAGE/profile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
}

.text-box {
    flex: 1;
    margin-right: 20px;
}

    .text-box input {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
    }


/*--------------FOOTER STARTS HERE--------------*/


footer {
    position: fixed;
    justify-content: space-evenly;
    bottom: -1px;
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    background: linear-gradient(to right, #F85B5B, #A56969);
}

.footer-images {
    width: 25px;
    margin: 0 20px;
}

.footer-p {
    font-family: Cambria;
    text-align: center;
    margin-top: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    header {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        background: linear-gradient(to right, #F85B5B, #A56969);
        padding: 20px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        z-index: 2;
    }


    .header-p {
        margin-top: 5px;
        font-family: Cambria;
        font-size: 30px;
        color: white;
    }

    .center-header {
        margin-left: -35px;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }


    /*--------------HEADER ENDS HERE--------------*/



    main {
        margin-top: 80px;
        padding: 20px;
        text-align: center;
        font-family: 'Kadwa', serif;
    }

        main p {
            margin: auto;
            margin-bottom: 20px;
            font-family: 'Kadwa', serif;
            font-size: 40px;
            font-weight: bold;
        }


    .content-section {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
    }

    .image-container {
        margin-right: 10px;
    }

    #profile-picture {
        width: 30px;
        height: 30px;
        background-image: url('../IMAGE/profile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: none;
    }

    .text-box {
        flex: 1;
        margin-right: 20px;
    }

        .text-box input {
            width: calc(100% - 20px);
            padding: 10px;
            border-radius: 20px;
            border: 1px solid #ccc;
        }


    /*--------------FOOTER STARTS HERE--------------*/


    footer {
        position: fixed;
        justify-content: space-evenly;
        bottom: -1px;
        width: 100%;
        padding: 20px 0 0 0;
        display: flex;
        background: linear-gradient(to right, #F85B5B, #A56969);
    }

    .footer-images {
        width: 25px;
        margin: 0 20px;
    }

    .footer-p {
        font-family: Cambria;
        text-align: center;
        margin-top: 5px;
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    a {
        text-decoration: none;
    }
}
